<div data-role="page" style="background-image: url('/public/images/bodyBg.png');">
<div data-role="header" data-position="inline" style="background:#00264C;">
  <h1><%= Rho::RhoConfig.username %> Following</h1>
  <a href="<%= url_for :controller => :User ,:action => :logout  %>"  class="ui-btn-right" data-icon="star" data-inline="true" data-theme="a">Logout</a>
  <a  href="<%= url_for :controller => :User, :action => :listing %>"  class="ui-btn-left" data-icon="back" data-direction="reverse" data-theme="a">Back</a>
</div>
<div data-role='content' style="background:none;text-shadow:none;color:white;">
 <ul data-role="listview" data-theme="b" data-filter="true" data-filter-theme="d"sss>
  
    <% get_res.each do | user | %>
     <li >
       <a href="#"><%= user %></a>
     </li>
       <% end%>
 </ul>
</div>
