<div data-role="page" style="background-image: url('/public/images/bodyBg.png');" >

<div data-role="header" data-position="inline" style="background:#00264C;" >
     
     <h1 style="text-align:center;">Git Hub Login </h1>
     <%= @msg %>

    </div> 

<div data-role="content" style="background:none;text-shadow:none;color:white;">
<a href="https://github.com/login/oauth/authorize?client_id=cad75eaa41395100be02"><img src="http://3.bp.blogspot.com/-KQbtlBPFT2g/TsANfZk2mJI/AAAAAAAAAbo/3jh2Hxzoqrg/s1600/github.png" width="35%"/></a>
</div>
</div>