<div data-role="page" style="background-image: url('/public/images/bodyBg.png');" >

<div data-role="header" data-position="inline" style="background:#00264C;" >
     
     <h1 style="text-align:center;">Git Hub Login </h1>
     </div> 

<div data-role="content" style="background:none;text-shadow:none;color:white;margin:2% 2% 2% 12%;">
      <br/><br/>
      <a href="<%= url_for  :action => :github_login %>" ><img src="http://3.bp.blogspot.com/-KQbtlBPFT2g/TsANfZk2mJI/AAAAAAAAAbo/3jh2Hxzoqrg/s1600/github.png" width="20%"/><span class="login">Github login</span></a>
     
  
</div>
</div>